---
import { type CollectionEntry, getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseLayout from "@/layouts/BaseLayout.astro"
import CustomLink from "@/components/CustomLink.astro";
import Container from "@/components/Container.astro";
import PageTitle from "@/components/PageTitle.astro"
import CollectionList from "@/components/CollectionList.astro";
import LinkMod from '@/components/LinkMod.astro';
import { getAllPublishedPosts } from "@/utils/blogFunctions";
import { SiteMeta } from "@/configs/consts";

const allArticles: CollectionEntry<"articles">[] = await getAllPublishedPosts();
---

<BaseLayout pageTitle=`${SiteMeta.siteTitle}` pageDesc=`${SiteMeta.siteDesc}`>
	<Container additinalClasses="flex mt-12">
		<PageTitle title="Hello" desc="World!" />
		<div class="collectionList flex flex-col py-3 sm:py-5 space-y-5 rounded-xl">
			<CollectionList allPosts={allArticles} />
			<!-- <LinkMod 
				href="/articles" 
				style="muted"
				class="flex items-center align-middle text-sm" >
				View All
				<Icon name={"mdi:arrow-right"} size={20} class={"ml-2 text-neutral-500"} />
			</LinkMod> -->
		</div>
	</Container>
</BaseLayout>