---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { SiteMeta } from "@/configs/consts";
import CustomLink from "@/components/CustomLink.astro";
---

<BaseLayout pageTitle=`${SiteMeta.siteTitle}` pageDesc=`${SiteMeta.siteDesc}`>
	<h1>Astrordinary</h1>

	<CustomLink href="/" rightIcon="mdi:music-circle-outline">
		Astrordinary
	</CustomLink>
</BaseLayout>