---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro"
import Container from "@/components/Container.astro";
import CollectionList from "@/components/CollectionList.astro";
import TagCloud from "@/components/TagCloud.astro";
import { getAllPublishedPosts } from "@/utils/blogFunctions";
import { pageTags } from "@/configs/consts";


const pageTitle = {
	title: `${pageTags.pageTitle}` || "Title" ,
  subTitle: `${pageTags.pageSubtitle}` || "Sub-Title",
};

---

<BaseLayout pageTitle=`${pageTitle.title}` pageDesc=`${pageTitle.subTitle}`>
	<Container className="flex my-4">
		<div class="tagList flex flex-col py-3 sm:py-5 space-y-5 rounded-xl">
			<div class="font-medium">
				All Tags
			</div>
			<TagCloud />
		</div>
	</Container>
</BaseLayout>