---
import { type CollectionEntry } from 'astro:content'
import { getFormattedDate } from '@/utils/commonFunctions';
import LinkMod from '@/components/LinkMod.astro';

type Props = {
  allPosts:CollectionEntry<"articles">[];
}

const { allPosts } = Astro.props;
---

<div class="flex flex-col">
  {
    allPosts.map((singlePost) => (
      <article>

        <LinkMod 
          href=`/${singlePost.collection}/${singlePost.slug}`
          style='muted'
          size='md'
          class="text-sm items-center flex sm:py-5 hover:p-4 align-middle"
        >
          <div class="text-sm sm:w-48 w-36 text-neutral-500">
              {getFormattedDate(singlePost.data.publishedDate)}
            </div>
            <div class="text-md w-full text-wrap"> {singlePost.data.title} </div>
        </LinkMod>
        <div class="border-b border-neutral-500/10"></div>
      </article>
    ))
  }
</div>
