---
import { cn } from "@/utils/commonFunctions"
const { className } = Astro.props;
const baseClasses = "container mx-auto px-3 py-2 sm:py-4 max-w-3xl";

---
<div class={cn(baseClasses, className)}>
  <slot />
</div>