---
import Container from "@/components/Container.astro"; 
import NavBar from "@/components/NavBar.astro";
---
<header class="sticky top-0 z-50 h-24 backdrop-blur">
  <Container addtionalClasses="flex gap-4 items-center justify-between">
    <div>
      <a href="/">
        <h1 class="text-xl tracking-tight">Astrodinary</h1>
      </a>
    </div>
    <div class="flex flex-1 justify-end sm:justify-center">
      <NavBar />
    </div>
    <div class="flex justify-end">
      O
    </div>
  </Container>
</header>