---
import Container from "@/components/Container.astro"; 
import NavBar from "@/components/NavBar.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---
<header class="sticky top-0 z-50 py-4 backdrop-blur items-center align-middle">
  <Container className="flex flex-row gap-4 items-center justify-between">
    <div class="flex">
      <a href="/">
        <h1 class="text-xl tracking-tight">Astrodinary</h1>
      </a>
    </div>
    <div class="flex flex-1 justify-end sm:justify-center">
      <NavBar />
    </div>
    <div class="flex justify-end">
      <ThemeSwitcher />
    </div>
  </Container>
</header>