---
import { headerLinks } from "@/configs/consts";
import CustomLink from "./CustomLink.astro";
import LinkMod from "./LinkMod.astro";
import { cn } from "@/utils/commonFunctions";
---

<!-- Widescreen navigation bar -->
<div class="hidden sm:flex">
  <ul class="flex space-x-2 px-6 items-center align-middle">
    {
      headerLinks.map((link) => (
        <li>
          <LinkMod 
            href={link.url} 
            size="sm"
            class="py-2 px-3 font-medium" 
            style="hover" >
              {link.title}
          </LinkMod>
        </li>
      ))
    }
  </ul>
</div>

<!-- Mobile menu button-->
<div class="sm:hidden">
  <button
    id="mobileMenuButton"
    class="relative font-medium p-2"
  >
    Menu +
  </button>
  <div 
    id="mobileMenuCard"
    class="absolute hidden z-10 transition-opacity ease-in-out duration-300">
    <div class="bg-neutral-600/50 rounded-lg p-3 border border-neutral-400/40 shadow-lg backdrop-blur-sm">
      <ul>
        {
          headerLinks.map((link) => {
            return (
              <li>
                <LinkMod 
                  href={link.url} 
                  class="flex px-2 py-1" 
                  size="sm" 
                  style={"muted"}>
                    {link.title}
                </LinkMod>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</div>

<script type="module">
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.getElementById("mobileMenuButton");
    const menu = document.getElementById("mobileMenuCard");
    button.addEventListener("click", function (event) {
      event.stopPropagation(); // Prevent click event from bubbling up
      menu.classList.toggle("hidden");
    });
    document.addEventListener("click", function (event) {
      if (!menu.contains(event.target)) {
        menu.classList.add("hidden");
      }
    });
  });
</script>