---
interface Props {
  className?: string;
}

const { className } = Astro.props
---

<section class:list={["prose prose-md lg:prose-lg prose-neutral prose-headings:font-semibold w-full prose-h1:text-xl prose-h2:text-lg prose-h3:text-sm prose-img:rounded-xl dark:prose-invert mx-auto", className]}>
  <slot />
</section>


