---
import { Icon } from "astro-icon/components"
---
<button id="themeToggle" aria-label="themeToggle">
  <Icon name="heroicons:sun" size={24} class={"hidden dark:block"}/>
  <Icon name="heroicons:moon" size={24} class={"dark:hidden"}/>
</button>