---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/PageHeader.astro";
import Section from "@/components/Section.astro";
import BrowseValueList from "@/components/BrowseValueList.astro";
import { getAllEntries } from "@/utils/content";
import { getYears, getMetaValues } from "@/utils/browse";
import { getAssetPath } from "@/utils/url";

const allEntries = await getAllEntries();
const years = getYears(allEntries);
---

<BaseLayout title="Years">
  <div class="page-width">

    <PageHeader lede=" Browse articles and notes by years" title="Years" />

    <BrowseValueList
      items={years.map(({ value, slug, count }) => ({
        label: value,
        href: getAssetPath(`browse/years/${slug}`),
        meta: `(${count})`,
      }))}
    />
  </div>
</BaseLayout>
